@(managers: List[models.EmployeeModel])

@main("MANAGERS") {
					<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    //line-height:5px;
    //background-color:#eeeeee;
    margin-top:2px;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>

<body >


<div id="nav">
<a href="/"><h3><b><I>Home</I></b></a>


</div>

<div id="section">
<table style="margin-left:100px ">
				  
				  @for(mgr <- managers) {
				    
				<tr><td><a href="/Reportees/@mgr.id">@mgr.name</a></td></tr>
				
				
				
				  }
				  </table>

</div>

<div id="footer">
Copyright © ALM-TEAM
</div>
}